div.span10 h1.page-title
{
background: url(../images/jSecure_icon_48x48.png) no-repeat !important;
padding-left:6%;
height:47px;
}

.table-striped-jsecure td
{
background-color: #F9F9F9;
border: 1px solid #DDDDDD;
line-height: 18px;
padding: 8px;
text-align: left;
vertical-align: top;
margin-bottom:5px;
float:left;
width:98.5%;
}

.basic_config_cls
{
border: 1px solid #DDDDDD;
line-height: 18px;
padding: 8px;
}

#content .btn-group > .btn { float:left; }


/*****Menu CSS****
.container-fluid.container-main{margin-top:-10px; padding-left:0; padding-bottom: 30px;}
.container-fluid.container-main .row-fluid{position: relative;}
.container-fluid.container-main .span2{ background:#051836; position: absolute; width:200px;}
.container-fluid.container-main .span10{ width:calc(100% - 210px); margin-left:210px;}
#sidebar .sidebar-nav .nav-list{ padding:20px 0 20px 10px;}
.task- #sidebar .sidebar-nav .nav-list{padding:20px 15px;}
ul#submenu li.active{position:relative;}
ul#submenu li.active a:after{border-bottom: 8px solid transparent; border-right: 8px solid #fff; border-top: 8px solid transparent; content: ""; height: 0; position: absolute; right: 0px; top: 8px; width: 0;}
ul#submenu li.active a{color:#fff;}

ul#submenu li a{line-height: 40px; background-position:150px 10px !important; padding:0; margin:0;text-shadow: unset; color: #5b81a8;}
ul#submenu li a:hover{ color:#fff;}
ul#submenu li:first-child a{background:url('../images/menuicons/basic_config_inactive.png') no-repeat;}
ul#submenu li:nth-child(2) a{background:url('../images/menuicons/email_scan_inactive.png') no-repeat;}
ul#submenu li:nth-child(3) a{background:url('../images/menuicons/secure_image_inactive.png') no-repeat;}
ul#submenu li:nth-child(4) a{background:url('../images/menuicons/secure_keys_inactive.png') no-repeat;}
ul#submenu li:nth-child(5) a{background:url('../images/menuicons/country_block_inactive.png') no-repeat;}
ul#submenu li:nth-child(6) a{background:url('../images/menuicons/ip_filters_inactive.png') no-repeat;}
ul#submenu li:nth-child(7) a{background:url('../images/menuicons/master_password_inactive.png') no-repeat;}
ul#submenu li:nth-child(8) a{background:url('../images/menuicons/master_login_inactive.png') no-repeat;}
ul#submenu li:nth-child(9) a{background:url('../images/menuicons/admin_password_inactive.png') no-repeat;}
ul#submenu li:nth-child(10) a{background:url('../images/menuicons/directory_listing_inactive.png') no-repeat;}
ul#submenu li:nth-child(11) a{background:url('../images/menuicons/component_protection_inactive.png') no-repeat;}
ul#submenu li:nth-child(12) a{background:url('../images/menuicons/email_scan_inactive.png') no-repeat;}
ul#submenu li:nth-child(13) a{background:url('../images/menuicons/master_mail_inactive.png') no-repeat;}
ul#submenu li:nth-child(14) a{background:url('../images/menuicons/log_inactive.png') no-repeat;}
ul#submenu li:nth-child(15) a{background:url('../images/menuicons/view_log_inactive.png') no-repeat;}
ul#submenu li:nth-child(16) a{background:url('../images/menuicons/meta_tag_inactive.png') no-repeat;}
ul#submenu li:nth-child(17) a{background:url('../images/menuicons/hits_graph_inactive.png') no-repeat;}
ul#submenu li:nth-child(18) a{background:url('../images/menuicons/ip_access_inactive.png') no-repeat;}
ul#submenu li:nth-child(19) a{background:url('../images/menuicons/help_inactive.png') no-repeat;}*/

/**Hover CSS*
ul#submenu li:first-child a:hover, ul#submenu li.active:first-child a{background:url('../images/menuicons/basic_config_active.png') no-repeat;}
ul#submenu li:nth-child(2) a:hover, ul#submenu li.active:nth-child(2) a{background:url('../images/menuicons/email_scan_active.png') no-repeat;}
ul#submenu li:nth-child(3) a:hover, ul#submenu li.active:nth-child(3) a{background:url('../images/menuicons/secure_image_active.png') no-repeat;}
ul#submenu li:nth-child(4) a:hover, ul#submenu li.active:nth-child(4) a{background:url('../images/menuicons/secure_keys_active.png') no-repeat;}
ul#submenu li:nth-child(5) a:hover, ul#submenu li.active:nth-child(5) a{background:url('../images/menuicons/country_block_active.png') no-repeat;}
ul#submenu li:nth-child(6) a:hover, ul#submenu li.active:nth-child(6) a{background:url('../images/menuicons/ip_filters_active.png') no-repeat;}
ul#submenu li:nth-child(7) a:hover, ul#submenu li.active:nth-child(7) a{background:url('../images/menuicons/master_password_active.png') no-repeat;}
ul#submenu li:nth-child(8) a:hover, ul#submenu li.active:nth-child(8) a{background:url('../images/menuicons/master_login_active.png') no-repeat;}
ul#submenu li:nth-child(9) a:hover, ul#submenu li.active:nth-child(9) a{background:url('../images/menuicons/admin_password_active.png') no-repeat;}
ul#submenu li:nth-child(10) a:hover, ul#submenu li.active:nth-child(10) a{background:url('../images/menuicons/directory_listing_active.png') no-repeat;}
ul#submenu li:nth-child(11) a:hover, ul#submenu li.active:nth-child(11) a{background:url('../images/menuicons/component_protection_active.png') no-repeat;}
ul#submenu li:nth-child(12) a:hover, ul#submenu li.active:nth-child(12) a{background:url('../images/menuicons/email_scan_active.png') no-repeat;}
ul#submenu li:nth-child(13) a:hover, ul#submenu li.active:nth-child(13) a{background:url('../images/menuicons/master_mail_active.png') no-repeat;}
ul#submenu li:nth-child(14) a:hover, ul#submenu li.active:nth-child(14) a{background:url('../images/menuicons/log_active.png') no-repeat;}
ul#submenu li:nth-child(15) a:hover, ul#submenu li.active:nth-child(15) a{background:url('../images/menuicons/view_log_active.png') no-repeat;}
ul#submenu li:nth-child(16) a:hover, ul#submenu li.active:nth-child(16) a{background:url('../images/menuicons/meta_tag_active.png') no-repeat;}
ul#submenu li:nth-child(17) a:hover, ul#submenu li.active:nth-child(17) a{background:url('../images/menuicons/hits_graph_active.png') no-repeat;}
ul#submenu li:nth-child(18) a:hover, ul#submenu li.active:nth-child(18) a{background:url('../images/menuicons/ip_access_active.png') no-repeat;}
ul#submenu li:nth-child(19) a:hover, ul#submenu li.active:nth-child(19) a{background:url('../images/menuicons/help_active.png') no-repeat;}*/

.task-countryblock .container-fluid.container-main .span2, .task-help .container-fluid.container-main .span2, .task-directory .container-fluid.container-main .span2{height:100%;}

@media only screen and (max-width: 768px) {
    .container-fluid.container-main .span2{position:relative; width:100%;}
	.container-fluid.container-main .span10{width:100%; margin-left:0;}
	ul#submenu li a{background-position:97% 10px !important;}
}


#license{
	display: none;
}